* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#before::before {
    content: "🧠 ";
    font-size: 40px;
}

#after::after {
    content: " 🐦";
    font-size: 40px;
}

#fl::first-letter {
    color: red;
    font-size: 3rem;
}

#fli::first-line {
    color: greenyellow;
}

#s::selection {
    background-color: blueviolet;
}
ul,
ol {
    font-size: 40px;
    margin: 0 60px;
}

ul li::marker {
    content: "🌴";
}

ol li::marker {
    color: orange;
}

.box {
    /* border:2px solid red; */
    width: 50vw;
    height: 30vh;
    margin: 100px auto;
    position: relative;
}
img {
    width: 100%;
    height: 100%;
    display: block;
}
.box::before {
    content: "";
    border: 5px solid grey;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -50px;
    left: -50px;
    z-index:-2;
}
.box::after {
    content: "";
    background-color:rgba(128, 128, 128, 0.566);
    width: 100%;
    height: 100%;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index:-1;
}